In [38]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model
import missingno as msno
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\fish.csv")
df

    Species  Weight  V_length  D_length  C_length   Height   Width
0     Bream   242.0      23.2      25.4      30.0  11.5200  4.0200
1     Bream   290.0      24.0      26.3      31.2  12.4800  4.3056
2     Bream   340.0      23.9      26.5      31.1  12.3778  4.6961
3     Bream   363.0      26.3      29.0      33.5  12.7300  4.4555
4     Bream   430.0      26.5      29.0      34.0  12.4440  5.1340
..      ...     ...       ...       ...       ...      ...     ...
154   Smelt    12.2      11.5      12.2      13.4   2.0904  1.3936
155   Smelt    13.4      11.7      12.4      13.5   2.4300  1.2690
156   Smelt    12.2      12.1      13.0      13.8   2.2770  1.2558
157   Smelt    19.7      13.2      14.3      15.2   2.8728  2.0672
158   Smelt    19.9      13.8      15.0      16.2   2.9322  1.8792

[159 rows x 7 columns]

In [39]:
df.head

<bound method NDFrame.head of     Species  Weight  V_length  D_length  C_length   Height   Width
0     Bream   242.0      23.2      25.4      30.0  11.5200  4.0200
1     Bream   290.0      24.0      26.3      31.2  12.4800  4.3056
2     Bream   340.0      23.9      26.5      31.1  12.3778  4.6961
3     Bream   363.0      26.3      29.0      33.5  12.7300  4.4555
4     Bream   430.0      26.5      29.0      34.0  12.4440  5.1340
..      ...     ...       ...       ...       ...      ...     ...
154   Smelt    12.2      11.5      12.2      13.4   2.0904  1.3936
155   Smelt    13.4      11.7      12.4      13.5   2.4300  1.2690
156   Smelt    12.2      12.1      13.0      13.8   2.2770  1.2558
157   Smelt    19.7      13.2      14.3      15.2   2.8728  2.0672
158   Smelt    19.9      13.8      15.0      16.2   2.9322  1.8792

[159 rows x 7 columns]>

In [40]:
df.head(10)

  Species  Weight  V_length  D_length  C_length   Height   Width
0   Bream   242.0      23.2      25.4      30.0  11.5200  4.0200
1   Bream   290.0      24.0      26.3      31.2  12.4800  4.3056
2   Bream   340.0      23.9      26.5      31.1  12.3778  4.6961
3   Bream   363.0      26.3      29.0      33.5  12.7300  4.4555
4   Bream   430.0      26.5      29.0      34.0  12.4440  5.1340
5   Bream   450.0      26.8      29.7      34.7  13.6024  4.9274
6   Bream   500.0      26.8      29.7      34.5  14.1795  5.2785
7   Bream   390.0      27.6      30.0      35.0  12.6700  4.6900
8   Bream   450.0      27.6      30.0      35.1  14.0049  4.8438
9   Bream   500.0      28.5      30.7      36.2  14.2266  4.9594

In [41]:
df.isnull()

     Species  Weight  V_length  D_length  C_length  Height  Width
0      False   False     False     False     False   False  False
1      False   False     False     False     False   False  False
2      False   False     False     False     False   False  False
3      False   False     False     False     False   False  False
4      False   False     False     False     False   False  False
..       ...     ...       ...       ...       ...     ...    ...
154    False   False     False     False     False   False  False
155    False   False     False     False     False   False  False
156    False   False     False     False     False   False  False
157    False   False     False     False     False   False  False
158    False   False     False     False     False   False  False

[159 rows x 7 columns]

In [42]:
ds=df.dropna(axis=0)
df.isnull().sum()

Species     0
Weight      0
V_length    0
D_length    0
C_length    0
Height      0
Width       0
dtype: int64

In [43]:
x=df.drop(['Width'],axis=1)
x

    Species  Weight  V_length  D_length  C_length   Height
0     Bream   242.0      23.2      25.4      30.0  11.5200
1     Bream   290.0      24.0      26.3      31.2  12.4800
2     Bream   340.0      23.9      26.5      31.1  12.3778
3     Bream   363.0      26.3      29.0      33.5  12.7300
4     Bream   430.0      26.5      29.0      34.0  12.4440
..      ...     ...       ...       ...       ...      ...
154   Smelt    12.2      11.5      12.2      13.4   2.0904
155   Smelt    13.4      11.7      12.4      13.5   2.4300
156   Smelt    12.2      12.1      13.0      13.8   2.2770
157   Smelt    19.7      13.2      14.3      15.2   2.8728
158   Smelt    19.9      13.8      15.0      16.2   2.9322

[159 rows x 6 columns]

In [45]:
y=df['Width']
y

0      4.0200
1      4.3056
2      4.6961
3      4.4555
4      5.1340
        ...
154    1.3936
155    1.2690
156    1.2558
157    2.0672
158    1.8792
Name: Width, Length: 159, dtype: float64

In [46]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size =0.33,random_state = 0)

In [47]:
print("xtrain shape : ", xtrain.shape)
print("xtest shape : ", xtest.shape)
print("ytrain shape : ", ytrain.shape)
print("ytest shape : ", ytest.shape)

xtrain shape :  (106, 6)
xtest shape :  (53, 6)
ytrain shape :  (106,)
ytest shape :  (53,)

In [48]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(xtrain,ytrain)
y_pred = regressor.predict(xtest)

ValueError: could not convert string to float: 'Bream'

In [28]:
train_score=regressor.score(xtrain,ytrain)
test_score=regressor.score(xtest,ytest)

In [29]:
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  0.5431046229592417
Test Score (R-Squared) 0.5950501003144243

In [30]:
from sklearn.metrics import mean_squared_error, mean_absolute_error
mse = mean_squared_error(ytest, y_pred)
mae = mean_absolute_error(ytest,y_pred)
print("Mean Square Error : ", mse)
print("Mean Absolute Error : ", mae)

Mean Square Error :  11193721964887.15
Mean Absolute Error :  2081463.428422726

In [31]:
train_accuracy=regressor.score(xtrain,ytrain)
print("train accuracy=",train_accuracy)

train accuracy= 0.5431046229592417

In [32]:
test_accuracy=regressor.score(xtest,ytest)
print("test accuracy=",test_accuracy)

test accuracy= 0.5950501003144243