In [1]:
import pandas as pd
technologies={'Courses':['python','DBMS','Java','Spark','DBMS','Python'],
              'Fee':[2000,2500,2600,22000,24000,5000],
              'Duration':['30days','40days','35days','60days','30days','45days'],
              'Discount':[1000,2300,1200,2500,2000,500]}
df=pd.DataFrame(technologies)
print(df)

  Courses    Fee Duration  Discount
0  python   2000   30days      1000
1    DBMS   2500   40days      2300
2    Java   2600   35days      1200
3   Spark  22000   60days      2500
4    DBMS  24000   30days      2000
5  Python   5000   45days       500