In [3]:
import pandas as pd
data={
    'First Name':['Ayan','Rohan','Riya','Yash','Siddhanth'],
    'Last Name':['Singh','Agarval','Shah','Bhatia','Khana'],
    'Type':['Full-Time Employee','Intern','Full-Time Employee','part-Time Employee','Full-Time Employee'],
    'Department':['Administation','technical','Administation','technical','Management'],
    'YOE':[2,3,5,7,6],
    'Salary':[2000,5000,10000,10000,20000]
}
df=pd.DataFrame(data)
print(df)

  First Name Last Name                Type     Department  YOE  Salary
0       Ayan     Singh  Full-Time Employee  Administation    2    2000
1      Rohan   Agarval              Intern      technical    3    5000
2       Riya      Shah  Full-Time Employee  Administation    5   10000
3       Yash    Bhatia  part-Time Employee      technical    7   10000
4  Siddhanth     Khana  Full-Time Employee     Management    6   20000

In [10]:
pivot=pd.pivot_table(
 data=df,
index='Type',
values='Salary',
aggfunc=['mean','sum']
)
print(pivot)

                            mean    sum
                          Salary Salary
Type
Full-Time Employee  10666.666667  32000
Intern               5000.000000   5000
part-Time Employee  10000.000000  10000

In [14]:
table=pd.pivot_table(df,index=['Type','Department'],values='Salary',aggfunc='mean')
print(table)

                                  Salary
Type               Department
Full-Time Employee Administation    6000
                   Management      20000
Intern             technical        5000
part-Time Employee technical       10000